{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    {% block head %}{% endblock %}
</head>
<body class="min-h-screen">
    {% block aside %}
        {% include 'components/aside-classes.html'%}
    {% endblock %}

    <main class="pl-0">
        {% block main %}
        {% endblock %}
    </main>
</body>
</html>