{% load static %}

<style>
    main {
        margin-left: 20%;
        padding-left: 2.5%;
    }
</style>

<aside class="bg-[#09335D] fixed left-0 top-0 w-[20%] max-w-[400px] h-screen text-white">
    <nav class="flex flex-col justify-between item py-8 h-screen">
        <img src="{% static 'logos/coesi.png' %}" class="w-[50%] flex mx-auto" alt="Logo">
        <ul class="flex flex-col gap-8">
            <li class="ml-16 text-xl font-semibold relative">
                {% if request.path == '/home' %}
                    <div class="w-2 h-2 bg-white rounded-full absolute top-1/2 left-[-15px] transform -translate-y-1/2"></div>
                {% endif %}
                <a href="/">Início</a>
            </li>
            <li class="ml-16 text-xl font-semibold relative">
                {% if request.path == '/cursos/explorar' %}
                    <div class="w-2 h-2 bg-white rounded-full absolute top-1/2 left-[-15px] transform -translate-y-1/2"></div>
                {% endif %}
                <a href="#">Cursos</a>
            </li>
            <li class="ml-16 text-xl font-semibold relative">
                {% comment %}
                    {% if request.path == '/'+user.student.name+'/perfil' %}
                        <div class="w-2 h-2 bg-white rounded-full absolute top-1/2 left-[-15px] transform -translate-y-1/2"></div>
                    {% endif %}
                {% endcomment %}
                {% if request.path == '/perfil' %}
                    <div class="w-2 h-2 bg-white rounded-full absolute top-1/2 left-[-15px] transform -translate-y-1/2"></div>
                {% endif %}
                <a href="#">Perfil</a>
            </li>
            <li class="ml-16 text-xl font-semibold relative">
                {% if request.path == '/suporte' %}
                    <div class="w-2 h-2 bg-white rounded-full absolute top-1/2 left-[-15px] transform -translate-y-1/2"></div>
                {% endif %}
                <a href="#">Suporte</a>
            </li>
        </ul>
        <div class="w-[60%] max-w-[400px] flex flex-col mx-auto">
            <img src="{% static 'logos/grupo-tiradentes.png' %}" alt="Logo">
            <small class="mt-2 text-center italic">Universidade Tiradentes 2024</small>
        </div>
    </nav>
</aside>