{% extends 'base.html' %}
{% load static %}

{% block header %}
    {% include '../components/nav-outside.html' with selected="home"%}
    <link rel="stylesheet" href="{% static 'css/specifics/home.css' %}">
{% endblock %}

{% block aside %}
{% endblock %}

{% block main %}
    <span class="absolute top-0 h-screen w-screen z-[-1] blur-2xl opacity-20">
        <div class="absolute w-[400px] h-[400px] rounded-full bg-blue-500 top-[100px] left-[-200px] hidden md:block"></div>
        <div class="absolute w-[400px] h-[400px] rounded-full bg-blue-500 top-[-200px] right-[300px] hidden md:block"></div>
    </span>
    <section class="flex gap-8 lg:justify-between m-12 md:m-24 items-center">
        <div class="flex flex-col gap-8">
            <div class="sm:hidden h-[100px] overflow-hidden rounded-md">
                <img class="relative bottom-[150px]" src="{% static 'illustrations/men-with-computer.jpg'%}" alt="Homem Usando Computador">
            </div>
            <h1 class="hidden md:block font-bold text-2xl md:text-8xl 2xl:text-14xl">
                De Aluno <br>
                Para Aluno
            </h1>
            <h1 class="md:hidden font-bold">
                De Aluno Para Aluno
            </h1>
            <p class="font-semibold 2xl:text-xl">
                Aprenda com quem aprende: cursos feitos por alunos, para alunos!
            </p>
            <button class="flex items-center bg-blue-500 rounded-md text-xl text-white font-black px-4 py-2 uppercase custom-gradient-bg">
                Aprender agora
            </button>
        </div>

        <div class="hidden sm:block w-[200px] md:w-[300px] md:h-[300px] lg:w-[400px] lg:h-[400px] xl:w-[500px] xl:h-[500px] rounded-full overflow-hidden">
            <img class="relative bottom-[20px] lg:bottom-[140px] xl:bottom-[220px]" src="{% static 'illustrations/men-with-computer.jpg'%}" alt="Homem Usando Computador">
        </div>
    </section>
{% endblock %}