{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block 'title' %}{% endblock 'title' %}</title>
  <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
  
  {% block 'head' %}{% endblock 'head' %}
</head>
<body>
  <div class="container_base">
    <div class="header_base">
      <h1>United Code LAB</h1>           
    </div>
    <div class="block_body">{% block 'body' %}{% endblock 'body' %}</div>
    <div class="footer_base">
      <img src="{% static 'base/img/iconeucl.png' %}" alt="uclIcone">
    </div>
  </div>
</body>
</html>